.spacer {
  flex: 1 1 auto;
}

mat-toolbar a {
  color: inherit;
  text-decoration: none;

  &.active {
    font-weight: 600;
  }
}

.content {
  padding: 1.5rem;
  max-width: 1200px;
  margin: 0 auto;
}
